extends base.pug

block content
    h4 Change Title pf video
    form(method="POST")
        input(name="title", placeholder="Video Title", value=video.title, required)
        input(placeholder="Desccription", required, type="text", name="description", minLength=20, value=video.description)
        input(placeholder="Hashtags, seperated by comma.", required, type="text", name="hashtags", value=video.hashtags.join())
        input(value="Save",type="submit")
